@font-face {
  src: url("../fonts/OpenSans-Regular.woff");
  font-family: open-sans;
  font-weight: 400;
  font-style: normal;
  color: #0f0d0e;
}

@font-face {
  src: url("../fonts/OpenSans-Regular.woff2");
  font-family: open-sans;
  font-weight: 400;
  font-style: normal;
  color: #0f0d0e;
}

@font-face {
  src: url("../fonts/OpenSans-Bold.woff");
  font-family: open-sans;
  font-weight: bold;
  font-style: normal;
  color: #0f0d0e;
}

@font-face {
  src: url("../fonts/OpenSans-Bold.woff2");
  font-family: open-sans;
  font-weight: bold;
  font-style: normal;
  color: #0f0d0e;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.header {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 36px;
  padding-bottom: 12rem;
  margin-bottom: 5.6rem;
}

.header::after {
  content: "";
  display: block;
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
}

.container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  
  padding-left: 15px;
  padding-right: 15px;

  position: relative;
  z-index: 1;
}

.logo-link {
  text-decoration: none;
  color: #b59f5b;
}

.logo {
  width: 179px;
}

.menu {
  display: flex;
  align-self: center;
}

.menu-button {
  width: 1.4em;
  height: 1em;  
  border: none;
  padding: 0;

  background-color: transparent;
  font-size: 25px;
  position: relative;
  text-indent: -9999px;
  cursor: pointer;
}

.menu-button:before, .menu-button:after {
  content:"";
  width: 100%;
  height: 20%;

  border-radius: 5px;
  background-color: #ffffff;  

  position: absolute;
  left: 0;
}

.menu-button:before {
  top: 0;
}

.menu-button:after {
  bottom: 0;
}

.menu-button-label {
  width: 100%;
  height: 20%;
  margin-top: -0.1em;  

  border-radius: 5px;
  background-color: #ffffff;  

  position: absolute;
  left: 0;
  top: 50%;
}

.menu-link {
  font-size: 13px;
  font-family: open-sans;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

.menu-link:hover {
  text-decoration: underline;
}

.menu-list-item {
  display: inline-block;
}

.menu-list-item:nth-last-child(n+2) {
  box-sizing: border-box;
  margin-right: 31px;
}

.title-menu {
  max-width: 700px;
  
  font-size: 4.5rem;
  line-height: 7rem;
  font-family: open-sans;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  color: #ffffff;
  
  margin-top: 10rem;
  margin-left: auto;
  margin-right: auto;
  
  position: relative; 
  z-index: 1;
}

.trends-section {
  display: flex;
  flex-direction: column;
}

.trends-indent {
  margin-bottom: 3.1rem; 
}

.title {
  font-size: 20px;
  line-height: 29px;
  font-family: open-sans;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #0f0d0e;
}

.underline:after {
  content: "";
  display: block;
  width: 67px;
  border-bottom: 3px solid #b59f5b;
  opacity: 0.4;
  
  margin-left: auto;
  margin-right: auto;

  padding-top: 7px;
}

.trends-container {
  display: flex;
  flex-wrap: wrap;
}

.trends-card {
  display: inline-flex;
  width: calc(24.9% - 0.3vw);
  min-height: 320px;
  
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: end;

  padding: 18px 20px;
  box-sizing: border-box;

  margin-left: 0.5%;
  margin-bottom: 0.5%;
}

.trends-card:after {
  content: "";
  display: block;
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
}

.seedling {
  background-image: url("../img/trends/trend1.jpg");
}

.cheese {
  background-image: url("../img/trends/trend2.jpg");
}

.mountain {
  background-image: url("../img/trends/trend3.jpg");
}

.lemon {
  background-image: url("../img/trends/trend4.jpg");
}

.trends-content {
  width: 100%;
  padding: 40px 30px;
  border: 4px solid #b59f5b;
  box-sizing: border-box;

  z-index: 1;
}

.trends-list {
  display: inline-flex;
  margin-bottom: 10px;
}

.trends-list-item:nth-child(n+2) {
  margin-left: 19px;
}

.link {
  font-size: 14px;
  font-family: open-sans;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #b59f5b;
}

.link:hover {
  text-decoration: underline;
}

.headline {
  font-size: 2rem;
  line-height: 2.4rem;
  font-family: open-sans;
  font-weight: bold;
  text-transform: uppercase;
  color: #0f0d0e;
}

.trends {
  color: #ffffff;
}

.link-headline {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.link-headline:hover {
  color: #b59f5b;
}

.page {
  margin-top: 63px;
  margin-bottom: 58px;
}

.main {
  max-width: 778px;
}

.news-card {
  display: flex;
}

.news-card:nth-child(n+2) {
  margin-top: 60px;
}

.news-image {
  text-decoration: none;
  color: #b59f5b;
}

.news-list {
  margin-bottom: 11px;
}

.news-list-item {
  display: inline-flex;
}

.news-list-item:nth-child(n+2) {
  margin-left: 16px;
}

.news-indent {
  margin-bottom: 3.4rem;
}

.date-autor {
  margin-bottom: 4.6rem;
}

.news-date {
  font-size: 12px;
  font-family: open-sans;
  text-transform: lowercase;
  color: #888888;
  margin-right: 8px;
}

.news-author {
  font-size: 12px;
  font-family: open-sans;
  font-weight: bold;
  color: #000000;
}

.text-indent {
  margin-bottom: 10px;
}

.text {
  font-size: 15px;
  line-height: 22px;
  font-family: open-sans;
  color: #0f0d0e;
}

.aside {
  max-width: 272px;
}

.section-posts {
  margin-bottom: 59px;
}

.heading {
  font-size: 14px;
  font-family: open-sans;
  font-weight: bold;
  text-transform: uppercase;
  color: #0f0d0e;
  text-align: center;
}

.posts-indent {
  margin-bottom: 26px;
}

.posts {
  align-items: start;
  display: flex;
}

.posts:nth-child(n+3) {
  margin-top: 12px;
}

.posts-image {
  width: 70px;
  text-decoration: none;
  color: #b59f5b;
  
  padding-top: 10px;
  
  margin-right: 20px;
}

.posts-header {
  justify-content: start;
  flex-grow: 1;
}

.posts-date {
  font-size: 12px;
  line-height: 24px;
  font-family: open-sans;
  text-transform: lowercase;
  color: #000000;
  opacity: 0.54;
}

.posts-link {
  font-size: 14px;
  font-family: open-sans;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.posts-link:hover {
  color: #b59f5b;
}

.search-form {
  align-items: start;
  display: flex;

  margin-bottom: 59px;
}

.search-label {
  display: flex;
  flex-grow: 1;
}

.field {
  border: none;
  width: 100%;
  height: 48px;
  background-color:#f4f7f6;
  box-sizing: border-box;
  
  padding-right: 19px;
  padding-left: 19px;
}

.field:focus {
  outline: 1px solid #b59f5b;
  background-color:#f4f7f6;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.search-button {
  border: none;
  cursor: pointer;
  width: 48px;
  height: 48px;
  background-color: #b59f5b;
  
  background-image: url("../svg/search.svg");
  background-size: 18px;
  background-position: center;
  background-repeat: no-repeat;
}

.search-button:hover {
  background-color: #323232;
}

.newsletter-group {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-bottom: 65px;
}

.newsletter-indent {
  margin-bottom: 22px;
}

.email-indent {
  margin-bottom: 19px;
}

.newsletter-email:focus {
  outline: 1px solid #b59f5b;
  background-color:#f4f7f6;
}

.submit-button {
  border: none;
  width: 100%;
  height: 48px;
  background-color: #b59f5b;
  cursor: pointer;

  color: #ffffff;
}

.newsletter-button:hover {
  background-color: #323232;
}

.tags {
  margin-bottom: 61px;
}

.tags-indent {
  margin-bottom: 25px;
}

.tags-list-item {
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
}

.tags-list-item:nth-child(n+4) {
  padding-top: 3px;
}

.tags-link {
  font-size: 12px;
  font-family: open-sans;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #0f0d0e;
  
  border: 3px solid #f4f3f1;
  padding: 8px 14px;
}

.tags-link:hover {
  border: 3px solid #b59f5b;
}

.topic-indent {
  margin-bottom: 25px;
}

.topic-list-item {
  box-sizing: border-box;
  border-bottom: 1px solid #eeeeee;

  padding-bottom: 13px;

  margin-bottom: 18px;
}

.topic-link {
  font-size: 14px;
  font-family: open-sans;
  font-weight: bold;
  text-decoration: none;
  color: #0f0d0e;
}

.topic-link:hover {
  color: #b59f5b;
}

.sup {
  vertical-align: super;
  font-size: 12px;
  font-family: open-sans;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #b59f5b;
  padding-left: 5px;
}

.shop-section {
  margin-bottom: 64px;
}

.shop-indent {
  margin-bottom: 29px;
}

.shop-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;

  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
}

.shop-card {
  display: flex;
  flex-direction: column;
}

.shop-preview {
  align-self: center;
}

.shop-content {
  border: 4px solid #b59f5b;
  padding: 45px 23px 20px;
  box-sizing: border-box;
  flex-grow: 1;

  margin-top: -31px;
}

.shop-link {
  font-size: 15px;
  font-family: open-sans;
  text-decoration: none;
  color: #b59f5b;

  cursor: pointer;
}

.shop-link:hover {
  text-decoration: underline;
}

.buy {
  display: flex;
  justify-content: space-between;

  margin-top: 27px;
}

.value {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.discount {
  font-size: 14px;
  line-height: 24px;
  font-family: open-sans;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: line-through;
  color: #0f0d0e;
}

.price {
  font-size: 20px;
  line-height: 24px;
  font-family: open-sans;
  font-weight: bold;
  text-transform: uppercase;
  color: #0f0d0e;
}

.shop-button {
  border: none;
  cursor: pointer;
  width: 140px;
  height: 48px;
  background-color: #b59f5b;

  font-size: 14px;
  line-height: 40px;
  font-family: open-sans;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
}

.shop-button:hover {
  background-color: #323232;
}

.footer {
  flex-direction: column;
}

.socials {
  background-color: #f4f7f6;
  text-align: center;
  
  box-sizing: border-box;
  padding-top: 34px;
  padding-bottom: 32px;
  
  margin-bottom: 70px;
}

.socials-list-item {
  display: inline-flex;
  margin-right: 26px;
}

.socials-list-item:nth-last-child(-1n+1) {
  margin-right: 0;
}

.socials-link {
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
}

.socials-link-dribbble {
  background-image: url("../svg/001-dribbble.svg");
}

.socials-link-pinterest {
  background-image: url("../svg/002-pinterest.svg");
}

.socials-link-tumblr {
  background-image: url("../svg/003-tumblr.svg");
}

.copyright {
  text-align: center;
  margin-bottom: 40px;
}

.copyright-link {
  font-size: 12px;
  font-family: open-sans;
  font-weight: bold;
  text-decoration: none;
  color: #999999;  
}

.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);

  z-index: 3;
}

.hidden {
  display: none;
}

.popup-container {
  max-width: 390px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  
  padding: 48px 30px 55px;
  
  background-color: #ffffff;
  position: relative;
}

.popup-close {
  width: 1.4em;
  height: 1em;
  font-size: 20px;
  
  background-color: transparent;
  border: none;
  padding: 0;
  text-indent: -9999px;
  cursor: pointer;

  position: absolute;
  top: -1.5em;
  right: 0; 
}

.popup-close:before, .popup-close:after {
  content: "";
  width: 1.4em;
  height: 0.2em;
  background-color: #ffffff;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
}

.popup-close:before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.popup-close:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.popup-indent {
  margin-bottom: 30px;
}

.feedback {
  display: flex;
  flex-direction: column;
}

.feedback-indent {
  margin-bottom: 30px;
}

.feedback-text {
  font-size: 13px;
  font-family: open-sans;
  color: #000000;

  margin-bottom: 5px;
}

.feedback-radio {
  display: flex;
}

.feedback-label {
  display: flex;

  margin-right: 30px;
}

.select-list {
  cursor: pointer;

  display: inline-block;
  box-sizing: border-box;


  -webkit-appearance: none;
  -moz-appearance: none;
  
  padding-left: 10px;
  
  background-size: 10px;
  background-image: url(../svg/form-arrows.svg);
  background-repeat: no-repeat;
  background-position: right 15px center;
}

.input-radio {
  display: none;
}

.radio-svg::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background-size: 18px;
  background-image: url(../svg/form-empty-circle.svg);
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;

  margin-right: 5px;
}

.input-radio:checked + .radio-svg:before {
  background-image: url(../svg/form-circle.svg)
}

.feedback-textarea {
  width: 330px;
  height: 130px;
  resize: none;
  box-sizing: border-box;
  padding-top: 20px;
}

@media (min-width: 1201px) {
  html {
    font-size: 62.5%;
  }

  .header {
    background-image: url("../img/banner-bg/banner-bg.jpg");
  }

  .menu-button {
    display: none;
  }

  .trends-card:nth-child(4n+1) {
    margin-left: 0;
  }

  .news-card {
    align-items: flex-start;
  }

  .news-image {
    object-fit: none;
    margin-right: 30px;
  }

  .shop-card {
    width: 30%;
    margin-left: 5%;
  }

  .shop-card:nth-child(3n+1) {
    margin-left: 0;
  }

  .shop-card:nth-child(n+4) {
    margin-top: 28px;
  }

  .shop-img {
    width: 300px;
  }  
}

@media (min-width:641px) and (max-width:1200px) {
  html {
    font-size: 55.5%;
  }

  .header {
    background-image: url("../img/banner-bg/banner-bg-tablet.jpg");
  }

  .container {
    padding-left: 2.92vw;
    padding-right: 2.92vw; 
  }

  .menu-list {
    display: none;
  }

  .trends-card {
    min-height: 250px;
  }

  .trends-list {
    flex-wrap: wrap;
  }

  .main {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
  }

  .news-card {
    flex-direction: column;
  }

  .news-image {
    margin-bottom: 16px;
  }

  .shop-container {
    justify-content: space-between;
  }

  .shop-card {
    width: 49%;
  }

  .shop-card:nth-child(n+3) {
    margin-top: 28px;
  }

  .shop-img {
    width: 40vw;
  }

  .shop-content {
    padding: 4.67vw 1.92vw 1.67vw;
  }

  .buy {
    margin-top: 2.25vw;
  }
}

@media (min-width: 641px) and (max-width:1200px) and (orientation: portrait) {
  .trends-container {
    justify-content: space-between;
  }

  .trends-card {
    width: 49.7%;
    margin-left: 0;
  }
}

@media (min-width: 641px) and (max-width:1200px) and (orientation: landscape) {
  .trends-card {
    width: calc(24.9% - 0.3vw);;
    padding: 9px 8px;
  }

  .trends-content {
    padding: 15px 9px;
  }

  .trends-card:nth-child(4n+1) {
    margin-left: 0;
  }
}

@media (max-width:640px) {
  html {
    font-size: 45%;
  }

  .header {
    background-image: url("../img/banner-bg/banner-mobile.jpg");
    padding-bottom: 245px;
  }

  .container {
    flex-direction: column;
  }

  .logo-link {
    order: 2;
  }

  .logo {
    width: 100%;
    height: 68px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .menu {  
    order: 1;
    margin-left: auto;
    margin-bottom: 211px;
  }

  .title-menu {
    margin-top: 5rem;
  }

  .menu-list {
    display: none;
  }

  .trends-container {
    flex-direction: column;
  }

  .trends-card {
    width: 100%;
    min-height: 230px;
  }

  .trends-content {
    padding: 30px 20px;
    flex-grow: 1;
  }

  .main {
    display: flex;
    flex-direction: column;
    margin-bottom: 44px;
  }

  .news-card {
    flex-direction: column;
    flex-grow: 1;
  }

  .news-image {
    margin-bottom: 15px;
  }

  .aside {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }

  .shop-img {
    width: 82vw;
  }

  .shop-card:nth-child(n+2) {
    margin-top: 28px;
  }

  .popup-container {
    width: 331px;
  }

  .feedback-textarea {
    width: 279px;
  }
}

@media (max-width:640px) and (orientation: portrait) {
  .trends-container {
    justify-content: space-between;
  }

  .trends-card {
    margin-left: 0;
    margin-bottom: 4px;
  }
}

@media (max-width:640px) and (orientation: landscape) {
  .header {
    padding-bottom: 60px;
  }

  .menu {
    margin-bottom: 0;
  }

  .trends-container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .trends-card {
    width: 49.7%;
  }

  .trends-card:nth-child(odd) {
    margin-left: 0;
  }

  .trends-content {
    padding: 15px 10px;
  }
}